/vendor
/wp
/wp-config.php
/content/plugins/*
!/content/plugins/hello-plugin-oprofile
!/content/plugins/hello-oclock
!/content/plugins/o-redirect-to
!/content/plugins/oprojects
/content/themes/*
!/content/themes/oprofile
/content/languages
/content/upgrade
/content/uploads